*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Segoe UI";
    
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
    border-bottom: 3px solid black;
    border-color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    position: absolute;
    left: 1rem;
}

.brand {
    text-align: center;
}




.search-bar {
    background-image: url('./Assets/1200px-Google_Magnifying_Glass.svg.png');
    position: absolute;
    right: 5rem;
}



.cart {
    position: absolute;
    right: 1rem;
}

.hero{
    background: url("./Assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg") fixed no-repeat center;
    background-size: contain;
    min-height: 50rem;
    min-width: min-content;
    position: relative;
}

.introduction{
    color: white;
    font-size: 45px;
    display: flex;
    max-width: 15rem;
    gap: 1rem;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    top: 50px;
    left: 50px;
}

.introduction2{
    color: white;
    font-size: 45px;
    display: flex;
    max-width: 15rem;
    gap: 1rem;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    right: 10rem;
    top: 500px;
    
   
  }

  
  #about h2 {
    font-size: 40px;
}

.line {
    width: 100%;
    height: 2px;
     margin: 20px 0; 
}

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.content-row img {
    width: 30%; 
    height: auto;
}

.tall-image {
    height: 120%; 
}

.aboutustext{
    flex-direction: column;
    max-width: 40rem;
    font-size: 20px;
}

.aboutustext1{
    flex-direction: column;
    max-width: 30rem;
    font-size: 25px;
}
#about h2, #products h2 {
    font-size: 40px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px 0; /* Adjust as needed */
}

.content-row, .grid-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* To make the images and paragraph align at the top */
}

.grid-container {
    flex-wrap: wrap; /* Enable grid items to wrap to the next line */
}

.product-card {
    flex-basis: 30%; /* Set width of product card */
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-title {
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

  

