*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Segoe UI";
    
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
    border-style: outset;
    border-color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    position: absolute;
    left: 1rem;
}

.brand {
    text-align: center;
}




.search-bar {
    background-image: url('./Assets/1200px-Google_Magnifying_Glass.svg.png');
    position: absolute;
    right: 5rem;
}



.cart {
    position: absolute;
    right: 1rem;
}

.hero{
    background: url("./Assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg") fixed no-repeat center;
    background-size: contain;
    min-height: 50rem;
    min-width: min-content;
    position: relative;
}

.introduction{
    color: white;
    font-size: 45px;
    display: flex;
    max-width: 15rem;
    gap: 1rem;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    top: 50px;
    left: 50px;
}

.introduction2{
    color: white;
    font-size: 45px;
    display: flex;
    max-width: 15rem;
    gap: 1rem;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    right: 10rem;
    top: 500px;
    
   
  }
  

